// colors
$color-1: #134A45;
$color-2: #E5E8EB;
$color-3: #B961CD;
$color-4: #E5E8EB;
$color-5: #96C9E9;
$color-6: #B961CD;
$color-7: #E5E8EB;
$color-8: #CFD4D8;










// mixin's
@mixin font($w, $fz, $lh:1){
    font-family: 'Roboto', sans-serif;
    font-weight: $w;
    font-size: $fz + px;
    line-height: $lh;
}