*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.main{
    display: flex;
    flex-direction: column;
}



@import "./values";
@import "./nav";
@import "./headerBody";
@import "./slide";
@import "./patients";
@import "./solution";
@import "./inclusive";